version: "3.9"

services:
  backend:
    build:
      context: ../backend
      dockerfile: docker/backend.Dockerfile
    container_name: backend-prod
    restart: always
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ../frontend
      dockerfile: docker/frontend.Dockerfile
    container_name: frontend-prod
    restart: always
    env_file:
      - .env.prod
    ports:
      - "80:80"
    networks:
      - app-network

  db:
    image: postgres:16
    container_name: postgres-prod
    restart: always
    env_file:
      - .env.prod
    volumes:
      - pgdata-prod:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  pgdata-prod:

networks:
  app-network:
    driver: bridge
