name: Automate Issues

on:
  issues:
    types: [opened]

jobs:
  automate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Issue Automation
        uses: dtar380/AutomaticIssue@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repo: ${{ github.repository }}
